body {
    font-family: sans-serif;
}

.barra-felicidade {
    margin-bottom: 20px;
}

.saldo-container,
.acoes-container,
.transacoes-container {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 8px;
    border: 1px solid #ddd;
}
